[submodule "clawedroad"]
	path = clawedroad
	url = https://github.com/sanctumos/clawedroad.git
[submodule "roxyipt"]
	path = roxyipt
	url = https://github.com/nanohits/roxyipt-releases.git




[submodule "roxy-ipt"]
	path = roxy-ipt
	url = https://github.com/Jetsonslifestyle/git-video-training.git
